<footer>
  <div class="wrapper">
    <p>
	A site for writing, because &quot;writing is thinking&quot;.<br>
	atom feed: <a href="/blog/atom.xml">atom</a><br>
    github: <a href="https://wcameronbowen.github.io">wcameronbowen</a><br>
    linkedin: <a href="https://linkedin.com/in/wcameronbowen">wcameronbowen</a>
	</p>
	<!--
	<p>github: <a href="https://wcameronbowen.github.io">wcameronbowen</a></p>
	<p>linkedin: <a href="https://linkedin.com/in/wcameronbowen">wcameronbowen</a></p>
	-->
  </div>
</footer>
